@model IEnumerable<HelthFundData.Models.Vaccine>
@{
    ViewData["Title"] = "GetAllVaccinesGet";
}

<h1>All Vaccines</h1>

<p>
    <a href="@Url.Action("AddMemberGet", "Members")" class="btn btn-primary">Add new member</a>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Home page</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaccineManufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaccineDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VaccineManufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VaccineDate)
                </td>
                <td>
                    <a asp-controller="Vaccines" asp-action="AddVaccineGet" asp-route-id="@item.Id">Add Vaccine</a> |
                    <a asp-controller="Vaccines" asp-action="GetVaccinesByIdGet" asp-route-id="@item.Id">View Vaccines</a> |
                    <a asp-controller="Recoveries" asp-action="AddRecoveryGet" asp-route-id="@item.Id">Add Positive Date</a> |
					<a asp-controller="Recoveries" asp-action="GetRecoveryByIdGet" asp-route-id="@item.Id">View Recovery Details</a>
				</td>
            </tr>
        }
    </tbody>
</table>

