@model IEnumerable<HelthFundData.Models.Member>

@{
    ViewData["Title"] = "GetAllMembers";
}

<h1>All Members</h1>

<p>
    <a href="@Url.Action("AddMemberGet", "Members")" class="btn btn-primary">Add new member</a>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Home page</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.ImageUrl" class="member-image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    <a asp-controller="Vaccines" asp-action="AddVaccineGet" asp-route-id="@item.Id">Add Vaccine</a> |
                    <a asp-controller="Vaccines" asp-action="GetVaccinesByIdGet" asp-route-id="@item.Id">View Vaccines</a> |
                    <a asp-controller="Recoveries" asp-action="AddRecoveryGet" asp-route-id="@item.Id">Add Positive Date</a> |
                    <a asp-controller="Recoveries" asp-action="GetRecoveryByIdGet" asp-route-id="@item.Id">View Recovery Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .member-image {
        max-width: 100px; /* Adjust the maximum width as per your requirement */
        height: auto;
    }
</style>

