@model HelthFundData.Models.Recovery

@{
    ViewData["Title"] = "RecoveryDetails";
}

<h1>Recovery Details</h1>

<div>
    <hr />
    <dl class="row">
        @if(Model.Id!=0)
        {
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PositiveDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PositiveDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecoveryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecoveryDate)
		</dd>
		}
        else
        {
            <h4>No data exists</h4>
        }
    </dl>
</div>
<div>
    <a href="@Url.Action("GetAllMembersGet", "Members")" class="btn btn-primary">Back to list</a>
</div>

